@tailwind base;
@tailwind components;
.icon-container{
    @apply
    flex
    flex-wrap
    flex-row
    block-container
    backdrop-blur-lg
    w-4/5
}
.mask-gradient{
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 50%,transparent 100%);
     mask-image: linear-gradient(to bottom, transparent 5%, black 20%, black 80%,transparent 95%);
}
.image-container{
    @apply
    w-4/5
    container
    /* block-container */
    flex-col
    /* sm:flex-col */
    ;
    
    scroll-behavior: auto;
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
    scroll-margin-inline-start: 50%;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* overflow-x: scroll ; */
    overflow-y: scroll ;
    -webkit-overflow-scrolling: touch;
    aspect-ratio: 2/1;
    /* aspect-ratio: 2/6; */
}
.container{

    @apply
    flex
    mx-auto
    px-1
    py-5;
    align-items:center;
    
}
.block-container {

    @apply 
    /* flex
    flex-wrap
    flex-row */
    rounded-lg
    px-1
    py-5
    mx-auto
    border
    border-solid
/* custom style */
    border-color
}
.main-block{
    @apply 
    bg-transparent 
    mx-5
    my-5
    /* mx-auto  */
    my-auto
}
.icon-size{
    @apply
    xs:w-12
    xs:h-12
    sm:w-20
    sm:h-20
    md:w-40
    md:h-40
    lg:w-48
    lg:h-48
}
.image-size{
    @apply
    w-3/4
    max-w-[500px]
}
.icon-width{
    @apply
    xs:w-12
    sm:w-20
    md:w-24
    lg:w-48
}
.icon-animation{
    @apply
    sm:hover:w-20
    sm:hover:h-20
    md:hover:h-48
    md:hover:w-48
    lg:hover:h-64
    lg:hover:w-64
    xl:hover:w-64
    xl:hover:h-64
    duration-500
    delay-100
    
}
.block-image{
    @apply 
    mx-auto
    rounded-xl
    bg-white
}
.block-text{
    @apply 
    text-white
    sm:text-sm
    md:text-base
    lg:text-lg
    xl:text-xl
    text-center
    mx-auto
    sm:my-auto
    md:my-auto

    /* custom */
    icon-width
    /* icon-animation */
}
.border-color{
    @apply 
    border-[#44009d]
    bg-[rgba(12,15,50,0.68)]
    border-opacity-20
    /* backdrop-blur-lg */

}