body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c49ff;
  overflow-x: hidden;
}
/* body iframe{
  width: 0px;
} */
#three_canva{
  position:absolute;
  z-index: -1;
}
#three_background{
  position:absolute;

  z-index: -1;
}
#root{
  /* min-width: 440px; */
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
